    .body { background-color: #e1edf5; }
    .button__cell { background: #0071C2; border-radius: 4px; }
    .actions-buttons .button__cell--primary { background-color: #0071C2; border-radius: 4px; }
    a, a:hover, a:active, a:visited { color: #0071C2; }
    .body .disclaimer__subtext { color: #c9d8ea; font-size: 12px; line-height: 18px; text-align: center; }
    .ssb-social a, .ssb-social a:hover, .ssb-social a:active, .ssb-social a:visited { color: #c9d8ea; }
